<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login page</h1>
</body>
</html>



<h3>Enter data</h3>
#{form @Application.register()}

<p>
    <label for="username">Your name: </label>
    <input type="text" name="username" id="username" />
</p>

<p>
    <label for="email">Your message: </label>
    <input type="text" name="text" />
</p>
<p>
    <label for="password">Your message: </label>
    <input type="text" name="password" />
</p>
<p>
    <input type="submit" value="Submit your data" />
</p>
#{/form}
